* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
    background: #323232;
}

#programme {
	padding: 10px;
	background: #305274;
}

#programme h2 {
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

#programme h3, h4 {
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}

#programme p {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	line-height: 18px;
	margin: 10px 0;
}

#timing {
	padding: 2px 10px;
	background: #cbcbcb;
	font-size: 12px;
}

#timing span { display: inline-block; }

#topic {
	background: url(t-s.png) repeat-x;
	font-size: 14px;
	color: #FFF;
	padding: 1px 10px;
}

.title {
	font-weight: bold;
	color: #ffc001;
	font-size: 14px;
}

#chairs {
	overflow: hidden;
	padding: 10px;
	background: #323232;
}

#chairs h5 {
	float: left;
	width: 40%;
}

#chairs > div {
	float: left;
}

#chairs span {
	display: block;
	font-size: 12px;
	color: #04b0f0;
}

#topics-speakers {
	padding: 10px 10px 15px;
	background: #323232;
}

#topics-speakers li {
	margin: 15px 0;
}

#topics-speakers li h5 {
	line-height: 0;
	margin: 0;
}

#topics-speakers li span {
	font-size: 12px;
	color: #18aef0;
}